<div id=main>
<h1>Location</h1>
Our wedding will be in Ann Arbor.
<p>
Our ceremony will be on the "The Inner Law Quad" at the University of Michigan, weather permitting
<p>
Time TBD: current estimate: 4:30pm.
<p>
Our reception will be at "The Campus Inn," starting after 3pm and ending before midnight.
</div>
